body {
  margin: 0px;
  overflow-x: hidden;
  background-color: #666;
}
.logo {
  height: 60px;
  margin: 10px;
  float: left;
}
.left-slide {
  position: relative;
  /* margin-top: 100px; */
  z-index: 25;
  display: inline-block;
  margin-left: -40px;
  width: 2000px;
  height: 800px;
  background-color: #444;
  transform-origin: bottom left;
  transform: rotate(-25deg);
}

.right-slide {
  position: relative;
  z-index: 20;
  float: right;
  margin-top: -800px;
  margin-left: -40px;
  width: 2000px;
  height: 800px;
  background-color: #333;
  transform-origin: bottom right;
  transform: rotate(25deg);
}

.navbar {
  position: relative;
  margin: auto;
  z-index: 30;
  width: 100%;
  height: 80px;
  background-color: #555;
}

ul {
  /* display: inline-block; */
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li {
  /* margin-top: 40px; */
  display: inline-block;
  margin-left: 100;
}

a {
  position: absolute;
  /* display: inline-block; */
  left: 1000px;
  bottom: 0;
  margin-left: 100;
  padding: 8px;
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;

  /* background-color: #dddddd; */
}
li a:hover {
  color: rgb(231, 102, 102);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(107, 107, 107, 1) 100%
  );
}

.game {
  position: relative;
  overflow: hidden;

  margin-top: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  height: 700px;
  border: solid #333 10px;
  background-image: url(../img/aquarium.jpg);
}
.net-shaft {
  width: 80px;
  height: 1260px;
  position: absolute;
  background-image: url(../img/net-rod.png);
}

.game:hover {
  cursor: none;
}

.flip {
  transform: rotateY(180deg);
}
