body {
  margin: 0px;
  overflow-x: hidden;

  background-color: #666;
  font-weight: 400;
}
body::-webkit-scrollbar {
  display: none;
}

/* ************************ Navbar ************************************* */
.navbar {
  position: sticky;
  top: 0;
  margin: auto;
  z-index: 30;
  width: 100%;
  height: 80px;
  background-color: #555;
}

li {
  /* margin-top: 40px; */
  /* display: inline-block; */
  position: relative;
  display: inline-block;
  /* float: left; */
  margin-left: 100;
}
.logo {
  height: 60px;
  margin: 10px;
  float: left;
}

ul {
  /* display: inline-block; */
  position: absolute;
  display: inline-block;
  list-style-type: none;
  overflow: hidden;

  margin: 0 0 0 20px;
  padding: 0;
  bottom: 0;
}

li a {
  text-shadow: 0 2px 0 #1f1d1d;
}
a {
  display: inline-block;
  /* position: absolute; */
  /* display: inline-block; */
  left: 1000px;
  bottom: 0;
  margin-left: 100;
  padding: 8px;
  color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  text-decoration: none;

  /* background-color: #dddddd; */
}
li a:hover {
  color: rgb(231, 102, 102);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(107, 107, 107, 1) 100%
  );
}
/* ************************ Slides ************************************* */
.left-slide:hover {
  transform: rotate(-24deg);
}
.right-slide:hover {
  transform: rotate(-1deg);
}
.left-slide {
  transition: 0.3s;
  backdrop-filter: blur(30px);
  position: absolute;
  bottom: 0;
  /* margin-top: 100px; */
  z-index: 25;
  display: inline-block;
  margin-left: 0;
  width: 150%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.7);
  transform-origin: bottom left;
  transform: rotate(-25deg);
  left: 0;
  animation-name: slideUp;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.right-slide {
  transition: 0.3s;
  backdrop-filter: blur(30px);
  position: absolute;
  bottom: 45%;
  z-index: 20;
  display: inline-block;
  /* margin-top: -800px; */
  margin-right: 0vw;
  width: 150%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  transform-origin: bottom right;
  right: 0;
  animation-name: rotate;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.left-bottom-slide {
  backdrop-filter: blur(30px);
  position: absolute;
  top: 50%;
  z-index: 19;
  display: inline-block;
  margin-left: 0;
  width: 150%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
  transform-origin: top left;
  left: 0;
  animation-name: rotate;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.right-bottom-slide {
  backdrop-filter: blur(30px);
  position: absolute;
  top: 0%;

  z-index: 24;
  display: inline-block;
  margin-right: 0px;
  width: 150vw;
  height: 100vw;
  background-color: rgba(68, 68, 68, 0.7);
  transform-origin: top right;
  transform: rotate(-25deg);
  right: 0;
  transform: translate();
  animation-name: slide;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  /* top: 400px; */
}
@keyframes slide {
  from {
    top: 0%;
  }
  to {
    top: 50%;
    /* bottom: calc(40vh - 50vw); */
  }
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 25deg;
  }
}

@keyframes slideUp {
  from {
    bottom: 0;
  }
  to {
    /* bottom: 100vh; */
    bottom: 45%;
  }
}
@keyframes slideHover {
  0% {
    top: -300px;
  }
  100% {
    top: -290px;
  }
}
#left-ul {
  left: 5vw;
}
#left-ul a {
  color: #999;
}
#right-ul {
  right: 5vw;
}
#right-ul a {
  color: #999;
}
.slide-shadow {
  position: absolute;
  width: 110%;
  height: 10px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  bottom: -10px;
  left: -20px;
}
.slide-shadow-up {
  position: absolute;
  width: 110%;
  height: 10px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  top: -10px;
  left: -20px;
}

/* ************************ Video ************************************* */

.video {
  position: absolute;
  z-index: 10;
  /* background-color: #1f1d1d; */
  top: 0;
  left: 0;
  width: 100vw;
  /* height: 100%; */
  filter: brightness(80%);
}
.hide {
  display: none;
}
#video-container {
  position: absolute;
  /* z-index: 2;
  overflow: auto;
  background-color: #1f1d1d;*/
  height: 100vh;
  top: 0;
  overflow: hidden;
  width: 100vw;
}

#vidSubtext {
  position: absolute;
  z-index: 23;
  bottom: 0%;
  color: white;
  opacity: 0.1;
  left: 0;
}

/* ************************ Game ************************************* */

.game {
  position: relative;
  overflow: hidden;
  z-index: 101;

  margin: 150vh auto 0 auto;
  width: 80vw;
  height: 75vh;
  border: solid #333 1vw;
  background-image: url(../img/aquarium.jpg);
}
.net-shaft {
  width: 80px;
  height: 1260px;
  position: absolute;
  z-index: 21 !important;
  background-image: url(../img/net-rod.png);
}
.netting {
  position: absolute;
  z-index: 20;
  width: 163px;
  height: 246px;
  bottom: 15px;
  left: -155px;
  transform-origin: 163px;
  /* animation: stretch;
  animation-duration: 2s;
  animation-iteration-count: infinite; */

  background-image: url(../img/net.png);
}

.game:hover {
  cursor: none;
}

.flip {
  transform: rotateY(180deg);
}

@keyframes stretch {
  0% {
    transform: scale(0.01, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

#debugger {
  position: absolute;
  z-index: 100;
  height: 10px;
  width: 10px;

  background-color: red;
}

#tracker {
  position: absolute;
  z-index: 99;
  height: 12px;
  width: 12px;

  background-color: rgb(0, 255, 42);
}
#shrimp-container {
  height: inherit;
  width: inherit;
}
.shrimp {
  position: absolute;
  width: 101px;
  height: 33px;
}
.shrimpstand {
  background-image: url(../img/shrimpstandgif.png);
}

/* ************************ Footer ************************************* */

#shrimphappy-img {
  position: absolute;
  bottom: -35px;
  right: 0;
  z-index: 500;
  max-width: 10vw;
  height: auto;
}

.foot {
  width: 100%;
  height: 10vh;

  position: sticky;
  top: 90vh;
  z-index: 500;
}
.speech-container {
  z-index: 400;
  transform-origin: bottom right;
  position: absolute;
  bottom: 8vh;
  right: 6vw;
  opacity: 0;
  width: 10vw;
  height: 10vh;
  transform: rotate(-120deg);
  /* background-color: red; */
  /* height: auto; */
  animation-name: spin;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  /* top: 400px; */
  /* a */
  /* ?test */
}

#speech-bubble {
  z-index: 380;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
}
@keyframes spin {
  from {
    rotate: 0deg;
    scale: 0;
  }
  to {
    opacity: 0.7;
    filter: brightness(2);
    rotate: 120deg;
    scale: 1;
    /* bottom: calc(40vh - 50vw); */
  }
}
.speech-text {
  position: absolute;
  top: -1vh;
  font-size: 1vw;
  text-align: center;
  z-index: 600;
}
/* ************************  ************************************* */

.transition-shadow {
  position: absolute;
  width: 100%;
  height: 10vh;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(68, 68, 68, 1) 100%
  );
  top: 100vh;
  /* top: -10px;
  left: -20px; */
}
